<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人相册</title>
    <meta name = "keywords" content="web front-end ">
    <meta name="description" content="网站的描述">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/person.css">
</head>
<body>
	<h1><%= person %>的个人空间</h1>
	<a href="/<%= person %>/albums">相册</a>
	<a href="/<%= person %>/message">留言板</a>
</body>
</html>
